::ng-deep .mat-dialog-container {
  background-color: whitesmoke;
}

mat-form-field {
  width: 24%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialog-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-form-field {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input.mat-input-element {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#meeting-report {
  width: 100%;
  max-height: 20%;
  min-height: 20%;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.dialog-fields-card {
  height: 80%;
  overflow-y: scroll;
}
