<mat-card class="dialog-fields-card">
  <form [formGroup]="clientForm">
    <mat-card-title>Client Info</mat-card-title>
    <div mat-card-content class="dialog-fields">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="clientForm.get('name')?.invalid">This is a required field</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Type</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="'Category A'">Category A</mat-option>
          <mat-option [value]="'Category B'">Category B</mat-option>
          <mat-option [value]="'Category C'">Category C</mat-option>
        </mat-select>
        <mat-error *ngIf="clientForm.get('type')?.errors">This is a required field</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sector of Activity</mat-label>
        <input matInput formControlName="industry">
        <mat-error *ngIf="clientForm.get('industry')?.errors">This is a required field</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Projected Business Volumes</mat-label>
        <input matInput formControlName="annualVolumes">
      </mat-form-field>
    </div>
    <div mat-card-content class="dialog-fields">
      <mat-form-field appearance="outline" id="address">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="clientForm.get('address')?.errors">This is a required field</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="text" formControlName="phone" appPhoneInputMask>
        <mat-error *ngIf="clientForm.get('phone')?.errors">This is a required field</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="clientForm.get('email')?.errors">Invalid email format</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Payment Mode</mat-label>
        <mat-select formControlName="paymentMode">
          <mat-option [value]="'Cash'">Cash</mat-option>
          <mat-option [value]="'Cheque'">Cheque</mat-option>
          <mat-option [value]="'Account'">Account</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card-title>Contact Person</mat-card-title>
    <div mat-card-content class="dialog-fields">
      <mat-form-field appearance="outline">
        <mat-label>Contact Person Name</mat-label>
        <input matInput formControlName="contactPersonName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact Person Role</mat-label>
        <input matInput formControlName="contactPersonRole">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact Person Email</mat-label>
        <input matInput formControlName="contactPersonEmail">
        <mat-error *ngIf="clientForm.get('contactPersonEmail')?.errors">Invalid email format</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact Person Phone</mat-label>
        <input matInput type="text" formControlName="contactPersonPhone" appPhoneInputMask>
      </mat-form-field>
    </div>
  </form>
</mat-card>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="addClient()" [disabled]="clientForm.invalid">Save</button>
</mat-dialog-actions>
