table {
  width: 100%;
}

th{
  font-weight: normal;
}

.column-header{
  font-weight: bold;
}

.filter-container{
  display: flex;
  align-items: center;
}

input{
  width: 50px;
}

.hidden-column-filter{
  visibility: hidden;
  width: 1px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 6px;
  padding-right: 6px;
}

.mat-cell {
  font-size: 0.9em;
}

.clear-filter-button{
  font-size: 1.2em;
  cursor: pointer;
}

.loading-shade  {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-header, .actions-container{
  display: flex;
  justify-content: flex-end;
}

.actions-container > .mat-icon-button{
  width: 32px;
  height: 32px;
}

.striped-table{
  background-color: #f9f9f9
}

.mat-column-dateCreated{
  width: 11%;
}

.mat-cell{
  padding-right: 8px;
}

.mat-column-assignedAgentNotes{
  width: 20%;
}

th.mat-header-cell {
  padding-left: 8px;
  padding-right: 8px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

td.mat-cell {
  max-width: 15%;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-data {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-title {
  padding: 1em;
  font-weight: 500;

}
