.new-board-button {
  padding: 1em;
}

.boards-container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.board {
  display: flex;
  min-width: 25em;
  margin: 1em;
  border: 0.1em solid gray;
}

mat-card {
  width: 100%;
}
