<div class="new-board-button">
<!--  <button mat-raised-button color="primary" (click)="openBoardDialog()">-->
<!--    <mat-icon>add</mat-icon>-->
<!--    Add Board-->
<!--  </button>-->
  <mat-form-field>
    <input matInput #filterString (keyup.enter)="filterBoards(filterString.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="boards-container">
  <div *ngFor="let board of displayedBoards" class="board">
    <mat-card
      cdkDropList
      id="{{board?.title}}"
      [cdkDropListData]="board?.tasks"
      [cdkDropListConnectedTo]="boardTitles"
      (cdkDropListDropped)="drop($event)">
      <mat-card-title>{{board?.title}}
        <button mat-raised-button color="primary" (click)="addTask(board.title)">
          <mat-icon>add</mat-icon>
          Add
        </button>
<!--        <button mat-icon-button matTooltip="Delete column">-->
<!--          <mat-icon color="warn" id="delete-board">close</mat-icon>-->
<!--        </button>-->
      </mat-card-title>
      <mat-card-content>
        <app-task *ngFor="let task of board?.tasks" [task]="task"></app-task>
      </mat-card-content>
    </mat-card>
  </div>
</div>
