.dialog-container {
  display: flex;
  justify-content: space-around;
}

mat-form-field {
  width: 45%;
  margin-bottom: 1em;
}

div#company-address {
  margin-bottom: 1em;
}
#company-address #notes-history {
  width: 100%;
}

.striped-table {
  background-color: #f5f5f5
}

td.mat-cell {
  max-width: 15%;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-panel-description {
  font-weight: bold;
}

mat-expansion-panel {
  margin-bottom: 1em;
}
