.container-div {
  width: 100%;
  height: 93%;
  background-color: teal;
}

.card-container {
  flex-wrap: wrap;
  padding: 15em 25em;
  width: 60%;
}

mat-icon {
  font-weight: bold;
  font-size: 10em;
}

.card-icon:hover {
  cursor: pointer;
}

.card-icon {
  width: 10em;
  height: 10em;
  border-radius: 1em;
}
