<div class="container-div">
    <div class="card-container flex-justify-sa">
      <div class="card-icon" matRipple [matRippleCentered]="true" [matRippleColor]="'salmon'" [routerLink]="'/boards'"><mat-icon>trending_up</mat-icon></div>
      <div class="card-icon" matRipple [matRippleCentered]="true" [matRippleColor]="'salmon'" [routerLink]="'/overview'"><mat-icon>table_chart</mat-icon></div>
      <div class="card-icon" matRipple [matRippleCentered]="true" [matRippleColor]="'salmon'"><mat-icon>today</mat-icon></div>
      <div class="card-icon" matRipple [matRippleCentered]="true" [matRippleColor]="'salmon'"><mat-icon>person</mat-icon></div>
      <div class="card-icon" matRipple [matRippleCentered]="true" [matRippleColor]="'salmon'"><mat-icon>email</mat-icon></div>
      <div class="card-icon" matRipple [matRippleCentered]="true" [matRippleColor]="'salmon'" [routerLink]="'/admin-console'"><mat-icon>settings</mat-icon></div>
    </div>
</div>
