<div class="client-container">
  <div class="search-wrapper">
    <mat-card class="actions-card">
      <mat-form-field appearance="outline" id="search-box" *ngIf="selectedClient == null">
        <mat-label>Search</mat-label>
        <input type="text"
               aria-label="client"
               matInput
               [formControl]="clientInputControl"
               [matAutocomplete]="auto">
        <button mat-icon-button matSuffix *ngIf="selectedClient == null">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matSuffix *ngIf="selectedClient != null" (click)="clearSearch()"
                matTooltip="Clear Selection">
          <mat-icon>close
          </mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunction"
                          (optionSelected)="handleSelectedClient($event.option.value)">
          <mat-option *ngFor="let option of filteredClients | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div mat-card-title class="selected-client-name" *ngIf="selectedClient != null"
           matTooltip="{{selectedClient?.name}}">{{selectedClient?.name}}</div>
      <div class="client-action-buttons">
        <button *ngIf="selectedClient == null" class="client-action-button" mat-raised-button color="primary"
                (click)="addClient()">New
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="selectedClient != null" class="client-action-button" mat-raised-button color="primary"
                (click)="updateClient()">Edit
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
<!--  <div class="search-wrapper" *ngIf="selectedClient != null">-->
<!--    <mat-card class="actions-card">-->
<!--      <mat-form-field appearance="outline" id="search-box">-->
<!--        <mat-label>Search</mat-label>-->
<!--        <input type="text"-->
<!--               aria-label="client"-->
<!--               matInput-->
<!--               [formControl]="clientInputControl"-->
<!--               [matAutocomplete]="auto">-->
<!--        <button mat-icon-button matSuffix *ngIf="selectedClient == null">-->
<!--          <mat-icon>search</mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button matSuffix *ngIf="selectedClient != null" (click)="clearSearch()"-->
<!--                matTooltip="Clear Selection">-->
<!--          <mat-icon>close-->
<!--          </mat-icon>-->
<!--        </button>-->
<!--        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunction"-->
<!--                          (optionSelected)="handleSelectedClient($event.option.value)">-->
<!--          <mat-option *ngFor="let option of filteredClients | async" [value]="option">-->
<!--            {{option.name}}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->
<!--      <div mat-card-title class="selected-client-name"-->
<!--           matTooltip="{{selectedClient?.name}}">{{selectedClient?.name}}</div>-->
<!--      <div class="client-action-buttons">-->
<!--        <button *ngIf="selectedClient == null" class="client-action-button" mat-raised-button color="primary"-->
<!--                (click)="addClient()">New-->
<!--          <mat-icon>add</mat-icon>-->
<!--        </button>-->
<!--        <button *ngIf="selectedClient != null" class="client-action-button" mat-raised-button color="primary"-->
<!--                (click)="updateClient()">Edit-->
<!--          <mat-icon>edit</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--  </div>-->

  <div class="client-wrapper">
    <mat-card class="no-client-card" *ngIf="selectedClient == null">
      <mat-card-title>Select a client to view info</mat-card-title>
    </mat-card>
    <mat-tab-group dynamicHeight *ngIf="selectedClient !== null" mat-align-tabs="center">
      <mat-tab label="Client Info">
        <app-client-info [client]="selectedClient"></app-client-info>
      </mat-tab>
      <mat-tab label="Activities">
        <app-activities [client]="selectedClient"></app-activities>
      </mat-tab>
      <mat-tab label="Orders"> Content 3</mat-tab>
    </mat-tab-group>
  </div>

</div>
<div class="spinner-container" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
