.client-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: whitesmoke;
}

.search-wrapper {
  padding: 1em 1em 0 1em;
}

#search-box{
  width: 20%;
}

.client-action-buttons {
  /*width: 70%;*/
  padding-left: 2em;
  padding-top: .5em;
  padding-bottom: 2em;
  display: flex;
  justify-content: flex-end;
}

.no-client-card {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.client-action-button {
  margin-left: 2em;
}

.actions-card {
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
}

mat-tab-group {
  padding: 2em;
}

mat-tab-header {
  padding: 1em;
}

.client-wrapper {
  padding: 0 1em;
  height: 80%;
  background-color: whitesmoke;
}

.spinner-container {
  width: 100%;
  min-height: 100vh;
  top: 0;
  position: absolute;
  z-index: 1000;
  background-color: rgba(108, 122, 137, .1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-client-name {
  min-width: 10%;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
