<div class="main-div">
  <mat-toolbar color="primary" class="flex-justify-sb toolbar">
    <button mat-icon-button><mat-icon>home</mat-icon></button>
    <span>Commercial</span>
    <div>
      <button mat-icon-button matTooltip="User profile">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button matTooltip="logout" (click)="signOut()">
        <mat-icon>logout</mat-icon>
      </button>

    </div>
  </mat-toolbar>
<!--  <div [@routeAnimations]="prepareRoute(outlet)">-->
    <router-outlet #outlet="outlet"></router-outlet>
<!--  </div>-->
</div>
