<div class="task-view-container">
  <div class="fields">
    <div>
      <h1>{{taskForm.get('companyName')?.value}}</h1>
      <form [formGroup]="taskForm">
        <div>
          <h1 mat-card-title>Company Info</h1>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Company Name</mat-label>
              <input matInput formControlName="companyName">
              <mat-error *ngIf="taskForm.get('companyName')?.errors">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Industry</mat-label>
              <input matInput formControlName="companyIndustry">
              <mat-hint>Industry in which the company operates</mat-hint>
              <mat-error *ngIf="taskForm.get('companyIndustry')?.errors">This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="flex-justify-sa">
            <mat-form-field id="company-address">
              <mat-label>Company Address</mat-label>
              <input matInput formArrayName="companyAddress">
              <mat-error *ngIf="taskForm.get('companyAddress')?.errors">This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Company Type</mat-label>
              <mat-select formControlName="companyType">
                <mat-option value="Group">Group</mat-option>
                <mat-option value="Branch">Branch</mat-option>
                <mat-option value="Multinational">Multinational</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <h1 mat-card-title>Contact</h1>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Contact Person</mat-label>
              <input matInput formControlName="contactName">
              <mat-hint>Name of contact person</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Role</mat-label>
              <input matInput formControlName="contactRole">
              <mat-hint>Role / position of contact person in the company</mat-hint>
            </mat-form-field>
          </div>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput formControlName="contactPhone">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="contactEmail">
              <mat-error *ngIf="taskForm.get('contactEmail')?.errors">Invalid email format</mat-error>
            </mat-form-field>
          </div>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Decision Maker</mat-label>
              <input matInput formControlName="decisionMakerName">
              <mat-hint>Name of decider</mat-hint>
            </mat-form-field>
          </div>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput formControlName="decisionMakerPhone">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="decisionMakerEmail">
              <mat-error *ngIf="taskForm.get('decisionMakerEmail')?.errors">Invalid email format</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div>
          <h1 matCardTitle>Agent Info</h1>
          <div class="flex-justify-sa">
            <mat-form-field>
              <mat-label>Agent Assigned</mat-label>
              <input matInput formControlName="assignee">
              <mat-hint>Name of Agent</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Next Meeting Date</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex-justify-sa">
            <mat-form-field class="agent-notes">
              <mat-label>Agent Notes</mat-label>
              <textarea matInput formControlName="agentNotes"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="notes-history">
    <h1 matCardTitle>History</h1>
    <mat-list>
      <mat-list-item *ngFor="let note of notesHistory">
        <h3 matLine> {{note.agentName}} </h3>
        <p matLine>
          <span> {{note.date | date:'dd/MM/yyyy'}} </span>
          <span class="demo-2"> -- {{note.text}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
