.task-view-container {
  display: flex;
  /*justify-content: flex-start;*/
  width: 100%;
  height: 93%;
  overflow: auto;
}

.fields {
  /*max-height: 100%;*/
  width: 60%;
  padding: 1em;
  background-color: whitesmoke;
}

.notes-history {
  /*height: 10%;*/
  width: 40%;
  padding: 1em;
  background-color: whitesmoke;
}

table {
  width: 100%;
}

.mat-cell .mat-header-cell {
  padding-right: 2em !important;
}

td th {
  padding-right: 2em !important;
}

#company-address {
  width: 95%;
}

mat-form-field {
  width: 45%;
}

h1 {
  margin-top: 2em;
}

.agent-notes {
  padding-top: 1em;
  width: 95%;
}

.save-task {
  padding: 1em;
}
