table {
  width: 100%;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 8%;
}

.striped-table{
  background-color: #f9f9f9
}

.main-div {
  background-color: whitesmoke;
  height: 100%;
}

.mat-column-actions {
  width: 3%;
}

.mat-column-meetingReport {
  width: 20%;
}

.mat-column-nextMeetingDate {
  width: 8%;
}

/*th.mat-header-cell:not(:last-of-type) {*/
/*  padding-right: 1em;*/
/*}*/

th.mat-header-cell {
  padding-right: 2em;
}

td.mat-cell {
  padding-right: 2em;
}

#search-box {
  width: 20%;
}

.add-activity-button {
  height: fit-content;
}

::ng-deep .mat-form-field-suffix {
  cursor: pointer;
}

.spinner-container {
  width: 100%;
  min-height: 100vh;
  top: 0;
  position: absolute;
  z-index: 1000;
  background-color: rgba(108, 122, 137, .1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-client-card {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
