/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* custom */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-sb {
  display: flex;
  justify-content: space-between;
}

.flex-justify-sa {
  display: flex;
  justify-content: space-around;
}

.main-div {
  width: 100%;
  height: 100%;
}

.info-toaster{
  background-color: steelblue;
  color: black;
}

.success-toaster {
  background-color: lightgreen;
  color: black;
}

.warning-toaster {
  background-color: orange;
  color: black;
}

.error-toaster {
  background-color: lightcoral;
  color: black;
}

.info-toaster .success-toaster .error-toaster .warning-toaster {
  color: black;
}

.mat-snack-bar-container {
  max-height: 12vh;
  max-width: 40vw;
}

snack-bar-container.mat-snack-bar-container {
  margin-top: 7em;
}

.mat-simple-snackbar {
  font-size: 1.2em;
}

.mat-simple-snackbar-action {
  color: yellow;
}


/* Works on Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: .7em;
  height: .6em;
}

::-webkit-scrollbar:hover {
  width: 8px;
  /*height: 8px;*/
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  border: .4em solid darkgray;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  border: 1em solid darkgray;
}



