<div class="justify-center">
  <h1 mat-dialog-title>Add Column</h1>
  <div matDialogContent class="justify-center">
    <p>What shall we call this column?</p>
    <mat-form-field>
      <input placeholder="Column name" matInput [(ngModel)]="dialogData"/>
    </mat-form-field>
  </div>
  <div matDialogActions class="flex-justify-sa">
    <button mat-button  color="accent" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="dialogData" [disabled]="!dialogData?.length" cdkFocusInitial>
      Create
    </button>
  </div>
</div>
